body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.card {
    display: inline-block;
    width: 150px;
    height: 200px;
    margin: 10px;
    text-align: center;
    padding-top: 30px;
    color: black;
    font-size: 18px;
    font-weight: bold;
}