h2 {
    text-align: center;
}

.box {
    width: 500px;
    background-color: yellow;
    padding: 50px;
    border: 20px solid blue;
    margin: 30px auto;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}