* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


.navbar {
    background-color: #222;
    color: white;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    position: relative;
}


.logo {
    font-size: 20px;
    font-weight: bold;
}


.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 12px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.nav-links a:hover {
    color: orange;
}


.actions a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    font-size: 14px;
}


.hamburger {
    display: none;
    cursor: pointer;
    font-size: 26px;
}


#toggle {
    display: none;
}


.content {
    padding: 20px;
}



.mobile-only {
    display: none;
}


@media (max-width: 768px) {

   
    .hamburger {
        display: block;
    }

   
    .nav-links {
        display: none;
        position: absolute;
        top: 55px;
        left: 0;
        width: 100%;
        background-color: #333;
        flex-direction: column;
        text-align: center;
        z-index: 1000;
    }

    .nav-links li {
        padding: 12px;
        border-bottom: 1px solid #444;
    }

    .nav-links li:last-child {
        border-bottom: none;
    }


 
    #toggle:checked + .hamburger + .nav-links {
        display: flex;
    }

  
    .mobile-only {
        display: block;
    }
}