/* body {
    background-color: pink;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h2 {
    text-align: center;
}

.img {
    float: left;
    width: 150px;
    height: 200px;
    margin: 10px;
}

.footer {
    clear: both;
    background-color: lightgray;
    padding: 5px;
} */





.container {
    display: flex;                 
    flex-direction: row;           
    justify-content: space-around; 
    align-items: center;           
    height: 200px;                 
    border: 2px solid black;    
}

.item {
    background: lightblue;      
    padding: 20px;                 
    margin: 5px;                   
    font-size: 18px;
    font-weight: bold;
}