* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 800vh
  background-color: aqua;
}


.title {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  background-color: blue;
}


.navbar {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  background-color: blueviolet;
}


.content {
  display: flex;
  flex: 1;
  border: 2px solid black;
;
}

.sidebar {
  width: 25%;
  border-right: 2px solid black;
  padding: 10px;
}

.main {
  flex: 1;
  padding: 10px;
}


.form-area {
  border: 2px solid black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: coral;
}

.form-area input {
  margin: 5px;
  padding: 5px;
  width: 200px;
}

.form-area button {
  margin-top: 10px;
  padding: 5px 15px;
}

/* Footer */
.footer {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
}