h2{
    text-align: center;
}
.box {
    width: 500px;
    background-color: rgb(43, 43, 6);
    padding: 50px;
    border: 20px solid rgb(40, 40, 145);
    margin: 30px auto;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
h3{
    text-align: center;
}
.box {
    width: 500px;
    background-color: rgb(43, 43, 6);
    padding: 50px;
    border: 20px solid rgb(40, 40, 145);
    margin: 30px auto;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}